<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    
    <section 
      name="emailProducerSettings" 
      type="PVDevelop.UCoach.Server.Core.Mail.EmailProducerSettingsSection, PVDevelop.UCoach.Server.Core.Mail"
      allowLocation="true"
      allowDefinition="Everywhere"/>
  </configSections>
  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
  <connectionStrings>
    <add name="mongo_meta" connectionString="mongodb://localhost/meta"/>
    <add name="mongo_auth" connectionString="mongodb://localhost/auth"/>
    <add name="mongo_core" connectionString="mongodb://localhost/core"/>
    <add name="rest_users" connectionString="http://localhost:51669"/>
  </connectionStrings>
  
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
      <target name="file" xsi:type="File"
          layout="${longdate} ${logger} ${message} ${exception:format=tostring}"
          fileName="${basedir}/Logs/UserManagement.log"
          keepFileOpen="false" />
    </targets>

    <rules>
      <logger name="*" minlevel="Debug" writeTo="file" />
    </rules>
  </nlog>

  <emailProducerSettings
    enableSsl ="true"
    senderAddress="PVDevelop@yandex.ru"
    smtpHost="smtp.yandex.ru"
    smtpPort="25"
    password="tkvXp7IvXlUEo9N7EBU7"
    userName="PVDevelop@yandex.ru"/>
  
</configuration>